body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.container {
	max-width: 390px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

canvas {
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.1);
}

.usercard {
	text-align: center;
	margin-top: 20px;
}










